{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block main_css %}
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{#{% include 'navbar.html' %}#}
{% include 'sidebar.html' %}
<div class="main">
    {% block content %}
    {% endblock %}

</div>
{#<main class="flex-shrink-0">#}
{#    #}
{#</main>#}


{#{% include 'footer.html' %}#}
</body>
</html>
