{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block main_css %}
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{% include 'sidebar.html' %}

<div class="main" id="main">
    {% include 'navbar.html' %}

{#    <button class="btn-outline-success" onclick="function openNav() {#}
{#  document.getElementById('mySidebar').style.width = '20%';#}
{#  document.getElementById('main').style.marginLeft = '20%';#}
{#        }#}
{#        openNav()">&#9776; Open Sidebar#}
{#    </button>#}


    {% block content %}
    {% endblock %}

</div>
{#<main class="flex-shrink-0">#}
{#    #}
{#</main>#}


{#{% include 'footer.html' %}#}
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
